<template name="consumablesActionsAdminField">
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-modal="consumableUpdateModalAdmin">Update Supply</button>
  <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-modal="consumableHistoryModal">View History</button>
</template>

<template name="consumablesActionsUserField">
  <!--<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-modal="reserveModalUser">Request</button>
  <button type="button" class="btn btn-sm" data-toggle="modal" data-modal="viewReservationsModalUser">View Availability</button>-->
</template>

